/* ZERA TUDO */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "arimo", sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background-color: #1D1D1D;
}

:root{
    --primary-color: #E0712B;
    --secondary-color: #1D1D1D;
    --text-color: #FFFFFF;
    --background-color: #000000;
    --font-family: "arimo", sans-serif;
}
